<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="logo-wrapper">
    <a href="/">
      <img class="logo" src="/images/logo.svg"/>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          Recipes
          <b class="caret dropdown-toggle"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/recipes">View all recipes</a>
          <a class="dropdown-item" href="/add_recipe">Add a recipe</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favourites">
          <i class="fa fa-star" aria-hidden="true"></i>
          Favourites
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-lemon" aria-hidden="true"></i>
          Categories
          <b class="caret dropdown-toggle"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/category/1">Breakfast</a>
          <a class="dropdown-item" href="/category/2">Salads</a>
          <a class="dropdown-item" href="/category/3">Appetizers</a>
          <a class="dropdown-item" href="/category/4">Soups</a>
          <a class="dropdown-item" href="/category/5">Desserts</a>
          <a class="dropdown-item" href="/category/6">Main</a>
        </div>
      </li>
    </ul>

    <form id="search-form" class="form-inline" action="/search" method="GET">
      <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <% if (locals.sess_user) { %>
      <ul class="navbar-nav login-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user/<%=sess_user.username%>">Welcome <%=sess_user.username%>!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    <% } else { %>
      <ul class="navbar-nav login-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
      </ul>
    <% } %>
  </div>
</nav>
