<meta charset="utf-8">
<title> Earthy recipes </title>
<script src="//code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">
<script src="https://use.fontawesome.com/d2a4c5210e.js"></script>
<link rel="shortcut icon" type="image/png" href="/images/favicongreen.png"/>
