<div id="recipe-block">
  <ul>
      <% recipe.forEach(function(recipe) { %>
          <li>
            <div class="recipe-preview col-lg-6 col-md-6">
              <a href = "/recipes/<%= recipe.name %>" >
                <div class="recipe-wrapper">
                  <!-- If there's no image then a default image should be used -->
                  <% if (recipe.image_url) { %>
                    <div class="recipe-image" style= 'background-image: url("<%= recipe.image_url %>")'></div>
                  <% } else { %>
                    <div class="recipe-image" style= 'background-image: url("/images/recipe_images/katsucurry.jpg")'></div>
                  <% } %>
                  <div class="image-text">
                    <%= recipe.name %>
                    <br>
                    <!-- username should link to user page, maybe?? -->
                    <span> by <%= recipe.username %></span>
                  </div>
                </div>
              </a>
            </div>
          </li>
      <% }); %>
  </ul>
</div>
