@import "styles";

.account-form{
  form{
    text-align: center;
  }
  .btn-primary{
  	width: 100%;
  }
}

.account-page{
  p{
    text-align: center;
  }
}

#error{
  display: none;
}

#error_pass{
  display: none;
}
.sign-up-button{
  background-image: none!important;
  border: none!important;
}
