@import "styles";

.navbar{
	margin: 0;
	border-radius: 0;
	background-color: @navbar;
	padding: 0px 15px;
	ul{
		list-style: none;
		padding-left: 10px;
		li{
			padding: 21px 15px;
			border-bottom: transparent 3px solid;
			-webkit-transition: background-color 0.3s, border-bottom 0.3s; /* Safari */
			transition: background-color 0.3s, border-bottom 0.3s;
			a{
				color: white;
				text-decoration: none;
			}
		}
		li:hover{
			background-color: @navbar-hover;
			border-bottom: @secondary-color 3px solid;
		}
	}
	.dropdown-menu{
		a{
			color: @navbar;
			display: block;
			text-align: center;
			-webkit-transition: background-color 0.2s, color 0.15s; /* Safari */
			transition: background-color 0.2s, color 0.15s;
		}
		a:hover{
			background-color: @navbar-hover;
			color: white;
		}
	}
	.login-nav{
		float: right;
	}
	#search-form{
		float: right;
		margin: 15px;
		width: 330px;
		input{
			width: 250px;
		}
	}
	.dropdown-menu:before {
	  position: absolute;
	  top: -7px;
	  left: 9px;
	  display: inline-block;
	  border-right: 7px solid transparent;
	  border-bottom: 7px solid #ccc;
	  border-left: 7px solid transparent;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  content: '';
	}
	.dropdown-menu:after {
	  position: absolute;
	  top: -6px;
	  left: 10px;
	  display: inline-block;
	  border-right: 6px solid transparent;
	  border-bottom: 6px solid #ffffff;
	  border-left: 6px solid transparent;
	  content: '';
	}
}

.logo-wrapper{
	float: left;
	margin-left: 10px;
	img{
		width: 70px;
	}
}
