@import "header";
@import "recipes_view"; // all the recipes in a block
@import "recipe_page"; // indiviual recipe pages
@import "recipe_page";
@import "login";

@background-color: #f4f4f4;
@text-color: pink;
@navbar-color: orange;

@content: #BCD8B7;
@dark-color: #796B68;
@navbar-hover: #78AA9B;
@navbar: #6BA292;
//@rose: #F95C71;
@text: #635255;

p{
	color: @text;
}

.banner{
	background-position: 0 -50px;
	background-size: cover;
	padding-bottom: 300px;
	position: relative;
	#title-wrapper{
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
		width: 100%;
		h1{
			text-align: center;
			margin:0;
			color: white;
			font-family: "Times New Roman", Times, serif;
	    font-size: 56px;
	    font-weight: bold;
			text-shadow: -2px 2px rgba(0, 0, 0, 0.5);
		}
	}
}
.content-wrapper{
	background: @content;
	height: 100%;
	h2{
		color: @text;
	}
}
#fave-star{
	font-size : 30px;
	float: right;
}
