.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #604343;
  padding: 0px 15px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  padding: 21px 15px;
  border-bottom: transparent 3px solid;
  -webkit-transition: background-color 0.3s, border-bottom 0.3s;
  /* Safari */
  transition: background-color 0.3s, border-bottom 0.3s;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
}
.navbar ul li:hover {
  background-color: #7f5152;
  border-bottom: #00bf75 3px solid;
}
.navbar .dropdown-menu a {
  color: #604343;
  display: block;
  text-align: center;
  -webkit-transition: background-color 0.2s, color 0.15s;
  /* Safari */
  transition: background-color 0.2s, color 0.15s;
}
.navbar .dropdown-menu a:hover {
  background-color: #7f5152;
  color: white;
}
.navbar .login-nav {
  float: right;
}
.navbar .search-form {
  float: right;
  margin: 15px;
}
.navbar .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.navbar .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.logo-wrapper {
  float: left;
}
.logo-wrapper img {
  width: 70px;
}
#recipe-page .banner #recipe-summary {
  position: absolute;
  top: 25%;
  left: 2%;
  width: 15%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 15px 30px;
  color: #635255;
}
#recipe-page .banner #recipe-summary span {
  font-weight: bolder;
  color: #00bf75;
}
#recipe-page .add-fave {
  font-size: 16px;
}
#recipe-page .add-fave .fa-star {
  font-size: 20px;
}
#recipe-page .add-fave a {
  text-decoration: none;
}
#recipe-page .add-fave span {
  color: #635255;
}
#recipe-page #method-col {
  background-color: white;
  border-radius: 5px;
  top: -30px;
  width: 100%;
}
.account-form form {
  text-align: center;
}
.account-form .btn-primary {
  width: 100%;
}
.account-page p {
  text-align: center;
}
.error-message {
  color: red;
  padding: 10px;
  background-color: #FFC4C4;
  border: red 1px solid;
  border-radius: 5px;
  margin-top: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.user-details .user-username {
  color: #00bf75;
  font-style: bold;
  font-size: 36px;
}
.no-info {
  font-style: italic;
}
body {
  background-color: #F8F8F8;
}
p {
  color: #635255;
}
.banner {
  background-position: 0 -50px;
  background-size: cover;
  padding-bottom: 300px;
  position: relative;
}
.banner #title-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.banner #title-wrapper h1 {
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 56px;
  font-weight: bold;
  text-shadow: -2px 2px rgba(0, 0, 0, 0.5);
}
.content-wrapper {
  background: white;
  height: 100%;
}
.content-wrapper h2 {
  color: #635255;
}
button {
  background-color: #00bf75 !important;
  color: white !important;
}
.recipe-block ul {
  list-style: none;
}
.recipe-block li {
  display: block;
}
.recipe-block li a {
  text-decoration: none;
}
.recipe-block .recipe-preview {
  margin: 20px 0px;
}
.recipe-block .recipe-preview .recipe-wrapper {
  width: 90%;
  margin: 0 auto;
}
.recipe-block .recipe-preview .recipe-wrapper .recipe-image {
  height: 250px;
  width: 100%;
  border-radius: 20px;
}
.recipe-block .recipe-preview .recipe-wrapper .image-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 15px;
  left: 50px;
  font-size: 24px;
  width: 80%;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  -webkit-transition: background-color 0.5s;
  /* Safari */
  transition: background-color 0.5s;
}
.recipe-block .recipe-preview .recipe-wrapper .image-text span {
  color: white;
  font-size: 14px;
}
.recipe-block .recipe-preview .recipe-wrapper:hover .image-text {
  background-color: rgba(0, 0, 0, 0.8);
}
