<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>
  <header>
    <% include ../partials/header %>
  </header>

  <body>
  	<title> About page </title>
  	<h1> About this website </h1>
  	<p>blah</p>
  </body>

  <footer>
    <% include ../partials/footer %>
  </footer>

</html>
