<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>
  <header>
    <% include ../partials/header %>
  </header>

  <body>
    <div class="content-wrapper container">
			<!-- <% if(locals.error){ %>
				<div class = "error-message">
					<%= error %>
				</div>
			<% } %> -->
			<h1>Add a recipe</h1>
			<% if (locals.sess_user) { %>
      <form class="AddRecipe needs-validation" action="/addRecipe" method="POST">
				<div class="form-group">
					<label>Recipe Title</label>
					<input type="text" class="recipe_name form-control" name="recipe[name]" placeholder="Enter title" required>
				</div>
				<!-- <div class="form-group">
					<label>Ingredients</label>
					<textarea class="form-control recipe_body" name="recipe[body]" rows="3"></textarea>
				</div> -->
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
						<select class="category-select form-control" name="recipe[category_id]" required>
							<!-- <option selected>Choose...</option> -->
							<% category.forEach(function(category) { %>
								<option value="<%= category.id %>"> <%= category.name %></option>
							<% }); %>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label>Calories</label>
						<input type="number" class="recipe_calories form-control" name="recipe[calories]" required>
					</div>
				</div>
				<!--  Slider -->
				<div class="form-group">
					<div class="slider-container">
					  <input type="range" min="0" max="360" name="recipe[cooking_time]" value="0" class="slider" id="cooking_time">
					</div>
					<div id="slider-output"></div>
				</div>

				<div class="form-group">
					<label>Method</label>
					<textarea class="form-control recipe_body" name="recipe[body]" rows="3" required="true"></textarea>
					<small class="form-text text-muted">Formatted in
						<a href = "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
							markdown
						</a>
					</small>
  			</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
      </form>
			<% } else { %>
				<p> Please <a href = "/login">log in</a> to add a recipe </p>
			<% } %>
    </div>

		<% include ../partials/chatbox %>

		<footer>
	    <% include ../partials/footer %>
	  </footer>

		<script>
			var slider = document.getElementById("cooking_time");
			var output = document.getElementById("slider-output");

			var hours = Math.floor(slider.value/60);
			var minutes = slider.value % 60;
			output.innerHTML = hours + " hours " + minutes + " minutes.";

			// Update the current slider value (each time you drag the slider handle)
			slider.oninput = function() {
				var hours = Math.floor(this.value/60);
				var minutes = this.value % 60;
			  output.innerHTML = hours + " hours " + minutes + " minutes.";
				//output.innerHTML = this.value ;
			}
		</script>

  </body>

</html>
