<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>


    <div>
      <div class="account-form">
        <form class="edit-user col-sm-4" action="/edit-user" method="POST">
          <% if(locals.error){ %>
            <div class = "error-message">
              <%= error %>
            </div>
          <% } %>
          <h1>Edit user profile</h1>
          <div class="form-group">
            <!-- <label class="col-sm-1">Username</label> -->
            <input type="textarea" name="user[about]" class="about form-control" placeholder="Write a little about yourself!">
          </div>

          <div class="form-group">
            <button type="submit" value="edit_user" class="btn btn-primary">Save</button>
          </div>

        </form>
      </div>
    </div>

		<% include ../partials/chatbox %>


    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>

  </html>
