<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

  <body>

		<header>
			<% include ../partials/header %>
		</header>

  	<div class="content-wrapper container">
			<h1>Favourites</h1>
			<% if (locals.username) { %>
				Hi <%= locals.username %>
			<% } else { %>
				<p> Please <a href = "/login">log in</a> to view your favourites! </p>
			<% } %>

		</div>

		<footer>
			<% include ../partials/footer %>
		</footer>

  </body>

</html>
