
<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

	<body>

		<header>
	    <% include ../partials/header %>
	  </header>

    <div id="banner" class="jumbrotron">
      <div id="title-wrapper">
        <h1>Daily recipes</h1>
      </div>
    </div>

    <div class="container content-wrapper">
      <h2>Current trending recipes</h2>
			<ul>
			    <% recipe.forEach(function(recipe) { %>
			        <li>
								<a href = "/recipes/<%= recipe.name %>" >
									<%= recipe.name %> by <%= recipe.username %>
								</a>
							</li>
			    <% }); %>
			</ul>
    </div>

		<footer>
	    <% include ../partials/footer %>
	  </footer>

	</body>

</html>
