
<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

	<body>

		<header>
	    <% include ../partials/header %>
	  </header>
    <div class="jumbrotron banner" style="	background-image: url('/images/banner2.png');">
      <div id="title-wrapper">
        <h1>Daily recipes</h1>
      </div>
    </div>

    <div class="container content-wrapper">
			<% include ../partials/recipes_view %>
			<p> View <a href="/recipes"> more recipes here!</a> </p>
			<br>
    </div>

		<% include ../partials/chatbox %>


		<footer>
	    <% include ../partials/footer %>
	  </footer>

	</body>
</html>
