<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

  <body>

		<header>
			<% include ../partials/header %>
		</header>

  	<div class="content-wrapper container account-page">

			<div class="col-sm-4"></div>
			<% include ../partials/login-form %>
			<div class="col-sm-4"></div>
			<p class="col-sm-12 "> Not a member? <a href="/signup">Sign up!</a> </p>

		</div>
		
		<% include ../partials/chatbox %>

		<footer>
			<% include ../partials/footer %>
		</footer>

  </body>

</html>
