<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

	<body>

		<header>
			<% include ../partials/header %>
		</header>

    <div class="container content-wrapper">
			<h2>Recently added recipes</h2>
			<p>
				<a href = "/add_recipe"> Add a new recipe! </a>
			</p>
			<% include ../partials/recipes_view %>
			<div id="scroll-loader" class="loader"></div>

    </div>

		<% include ../partials/chatbox %>

		<footer>
			<% include ../partials/footer %>
		</footer>

		<script src="/js/infinite_scroll.js"  type="text/javascript"></script>

  </body>
</html>
