<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

	<body>

		<header>
			<% include ../partials/header %>
		</header>

    <div class="container content-wrapper">
			<% include ../partials/recipes_view %>
			<p>
				<a href = "/add_recipe"> Add a new recipe! </a>
			</p>
    </div>

		<footer>
			<% include ../partials/footer %>
		</footer>

  </body>
</html>
