<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>


    <div>
      <div class="img-wrapper"></div>
			<p><%- user[0].username %></p>
    </div>


    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>

  </html>
